<div class="container">
  <div class="row">
    <div class="col">
      <img
        src="/assets/images/clearPointLogo.png"
        alt="ClearPoint"
        class="img-fluid rounded"
      />
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div role="alert" class="fade alert alert-success show">
        <div class="alert-heading h4">Todo List App (Angular)</div>
        Welcome to the ClearPoint frontend technical test. We like to keep
        things simple, yet clean so your task(s) are as follows:<br /><br />

        <ol class="list-left text-left">
          <li>
            Add the ability to add (POST) a Todo Item by calling the backend API
          </li>
          <li>
            Display (GET) all the current Todo Items in the below grid and
            display them in any order you wish
          </li>
          <li>
            Bonus points for completing the 'Mark as completed' button code for
            allowing users to update and mark a specific Todo Item as completed
            and for displaying any relevant validation errors/ messages from the
            API in the UI
          </li>
          <li>
            Feel free to add unit tests and refactor the component(s) as best
            you see fit
          </li>
        </ol>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="container">
        <h1>Add Item</h1>
        <form [formGroup]="descForm" (ngSubmit)="onSubmit(descForm)">
          <div class="mb-3 row">
            <label
              for="formAddTodoItem"
              class="form-label col-form-label col-sm-2"
              >Description</label
            >
            <div class="col-md-6">
              <input
                placeholder="Enter description..."
                type="text"
                id="formAddTodoItemDescription"
                name="formAddTodoItemDescription"
                class="form-control"
                formControlName="description"
                required 
                maxlength="150" minlength="1"
              />
              <div *ngIf="(descForm.controls['description'].errors?.['required'] || descForm.controls['description'].errors?.['maxlength']
                || descForm.controls['description'].errors?.['minlength'] || descForm.controls['description'].errors?.['isDescriptionUnique']
              )
              && (descForm.controls['description'].dirty || descForm.controls['description'].touched)" class="alert alert-danger mt-3">
                <div *ngIf="descForm.controls['description'].errors?.['required']">
                  Description is required.
                </div>
                <div *ngIf="descForm.controls['description'].errors?.['maxlength']">
                  Description cannot be more than 150 characters long.
                </div>
                <div *ngIf="descForm.controls['description'].errors?.['minlength']">
                  Description must be at least 1 character long.
                </div>
                <div *ngIf="descForm.controls['description'].errors?.['isDescriptionUnique']">
                  Description must unqiue 
                </div>                
              </div>
            </div>
          </div>
          <div class="mb-3 offset-md-2 row">
            <div class="hstack gap-2">
              <input type = "submit" class="btn btn-primary" value="Add Item" />
              <button
                type="reset"
                class="btn btn-secondary"
              >
                Clear
              </button>
            </div>
          </div>
       </form>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <app-todo-list />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      © 2021 Copyright:
      <a href="https://clearpoint.digital" target="_blank" rel="noreferrer">
        clearpoint.digital
      </a>
    </div>
  </div>
</div>
